table {
    width: 100%;
}
  
th.mat-sort-header-sorted {
    color: black;
}


.bd-example {
      padding: 1.5rem;
      margin-right: 0;
      margin-left: 0;
      border-width: 1px;
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
}

.example-full-width {
    width: 100%;
    z-index: 1000;
}

.react-calendar {
    position: fixed;
    top: calc(100% - 479px) !important;
    
}

.demo-actions{
    align-items: center;
    text-align: center;
}